In [1]:
import pandas as pd

In [2]:
demo = pd.read_csv('../Dataset - Demographic.csv')
demo.head()

,Subject_Id,Name(optional),Gender,Age,Alchohol,Smoking,Non-Veg,Exercise,Medication,Weight,Height,Body Age,BMI,FAT,Muscle %,Viscular,RM
0,S_1,Sunil,Male,37,No,No,No,No,No,72.1,173.0,47.0,24.1,34.1,25.4,6.0,1446.0
1,S_2,Pradeep,Male,47,No,No,No,Yes,Yes(Anxiety/B.P.),71.1,181.3,53.0,22.8,36.2,24.9,5.0,1422.0
2,S_3,Navita,Female,47,No,No,No,No,Yes(Thyroid),69.4,155.0,55.0,28.0,29.6,27.4,15.0,1547.0
3,S_4,Sangeeta,Female,35,No,No,No,No,No,65.8,155.0,45.0,27.4,28.7,30.3,12.0,1510.0
4,S_5,Gayatri,Female,33,No,No,No,No,No,54.2,155.0,32.0,22.6,22.7,33.8,7.0,1354.0

In [3]:
cols = demo.columns
nums = [1,9,10,11,13,14,15,16]

for i in nums:
    demo.drop(cols[i],axis=1,inplace=True)

demo = demo.rename(columns={'Subject_Id': 'ID'})
demo.fillna(demo.mean(numeric_only=True).round(1), inplace=True)

In [4]:
demo.isna().sum()

ID            0
Gender        0
Age           0
Alchohol      0
Smoking       0
Non-Veg       0
Exercise      0
Medication    0
BMI           0
dtype: int64

In [7]:
HF = pd.read_csv('./original_HF(log).csv')
HF.fillna(HF.mean(numeric_only=True).round(1), inplace=True)

HF.head()

,Subject_ID,Name,ANYB_PRE,ANYB_D1,ANYB_D2,ANYB_D3,ANYB_POST,OM_PRE,OM_D1,OM_D2,...,QUIT_PRE,QUIT_D1,QUIT_D2,QUIT_D3,QUIT_POST,SPINE_PRE,SPINE_D1,SPINE_D2,SPINE_D3,SPINE_POST
0,S_1,Sunil,7.1871,6.3857,6.7578,5.7022,7.1588,6.9891,6.6731,6.7578,...,7.7413,7.4606,7.0583,7.2244,7.5556,7.4448,9.0848,9.5869,9.2399,7.3199
1,S_2,Pradeep,4.7905,7.5569,7.9357,8.7675,3.7679,5.0130,5.1583,4.8965,...,5.0156,5.1631,4.9681,5.5961,4.3202,4.4628,8.1129,5.2296,4.8996,4.2610
2,S_3,Navita,9.6219,10.7620,10.2091,5.9059,9.5848,4.3243,9.1649,10.3125,...,6.1308,5.0107,4.8377,4.6461,5.2054,5.9659,11.2450,10.5531,10.3075,5.7746
3,S_4,Sangeeta,7.2802,7.8405,8.9524,8.4978,6.9002,9.0748,6.0844,7.3798,...,6.6592,5.6797,5.7536,8.9308,6.0229,9.9727,7.4308,8.0729,8.3364,5.5865
4,S_5,Gayatri,7.5976,8.7482,10.6126,8.7390,5.4206,5.8606,6.6374,7.2280,...,7.9024,7.7649,8.3095,8.1741,7.8166,8.1822,8.7653,9.0574,9.1147,7.5953

In [8]:
cols = HF.columns
nums = [1,3,4,5,8,9,10,13,14,15,18,19,20,23,24,25,28,29,30]

for i in nums:
    HF.drop(cols[i],axis=1,inplace=True)

HF = HF.add_prefix('HF_')
HF = HF.rename(columns={'HF_Subject_ID': 'ID'})

In [9]:
HF.head()

,ID,HF_ANYB_PRE,HF_ANYB_POST,HF_OM_PRE,HF_OM_POST,HF_SHA_PRE,HF_SHA_POST,HF_MM_PRE,HF_MM_POST,HF_QUIT_PRE,HF_QUIT_POST,HF_SPINE_PRE,HF_SPINE_POST
0,S_1,7.1871,7.1588,6.9891,7.1873,6.6701,6.4307,7.1350,7.1143,7.7413,7.5556,7.4448,7.3199
1,S_2,4.7905,3.7679,5.0130,6.9129,4.7649,4.3763,4.4378,3.9149,5.0156,4.3202,4.4628,4.2610
2,S_3,9.6219,9.5848,4.3243,8.4169,8.2759,8.2527,11.7792,10.4058,6.1308,5.2054,5.9659,5.7746
3,S_4,7.2802,6.9002,9.0748,10.1993,9.4856,9.2781,5.7049,5.8683,6.6592,6.0229,9.9727,5.5865
4,S_5,7.5976,5.4206,5.8606,5.0857,8.9311,6.9972,7.3255,7.9247,7.9024,7.8166,8.1822,7.5953

In [10]:
database = pd.merge(demo,HF, on="ID", how='inner')

In [11]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
database.head()

,ID,Gender,Age,Alchohol,Smoking,Non-Veg,Exercise,Medication,BMI,HF_ANYB_PRE,...,HF_OM_PRE,HF_OM_POST,HF_SHA_PRE,HF_SHA_POST,HF_MM_PRE,HF_MM_POST,HF_QUIT_PRE,HF_QUIT_POST,HF_SPINE_PRE,HF_SPINE_POST
0,S_1,Male,37,No,No,No,No,No,24.1,7.1871,...,6.9891,7.1873,6.6701,6.4307,7.1350,7.1143,7.7413,7.5556,7.4448,7.3199
1,S_2,Male,47,No,No,No,Yes,Yes(Anxiety/B.P.),22.8,4.7905,...,5.0130,6.9129,4.7649,4.3763,4.4378,3.9149,5.0156,4.3202,4.4628,4.2610
2,S_3,Female,47,No,No,No,No,Yes(Thyroid),28.0,9.6219,...,4.3243,8.4169,8.2759,8.2527,11.7792,10.4058,6.1308,5.2054,5.9659,5.7746
3,S_4,Female,35,No,No,No,No,No,27.4,7.2802,...,9.0748,10.1993,9.4856,9.2781,5.7049,5.8683,6.6592,6.0229,9.9727,5.5865
4,S_5,Female,33,No,No,No,No,No,22.6,7.5976,...,5.8606,5.0857,8.9311,6.9972,7.3255,7.9247,7.9024,7.8166,8.1822,7.5953

#Making Calculation for best Exercise

In [12]:
database.columns

Index(['ID', 'Gender', 'Age', 'Alchohol', 'Smoking', 'Non-Veg', 'Exercise',
       'Medication', 'BMI', 'HF_ANYB_PRE', 'HF_ANYB_POST ', 'HF_OM_PRE',
       'HF_OM_POST ', 'HF_SHA_PRE', 'HF_SHA_POST ', 'HF_MM_PRE', 'HF_MM_POST ',
       'HF_QUIT_PRE', 'HF_QUIT_POST ', 'HF_SPINE_PRE', 'HF_SPINE_POST '],
      dtype='object')

In [14]:
HF_anyb=[]
HF_om = []
HF_mm = []
HF_quit = []
HF_spine = []
HF_sh = []


for i in range(len(database['ID'])):

    val = database['HF_ANYB_POST '][i] - database['HF_ANYB_PRE'][i]
    HF_anyb.append(val)

for i in range(len(database['ID'])):

    val = database['HF_OM_POST '][i] - database['HF_OM_PRE'][i]
    HF_om.append(val)

for i in range(len(database['ID'])):

    val = database['HF_SHA_POST '][i] - database['HF_SHA_PRE'][i]
    HF_sh.append(val)

for i in range(len(database['ID'])):

    val = database['HF_MM_POST '][i] - database['HF_MM_PRE'][i]
    HF_mm.append(val)

for i in range(len(database['ID'])):

    val = database['HF_QUIT_POST '][i] - database['HF_QUIT_PRE'][i]
    HF_quit.append(val)

for i in range(len(database['ID'])):

    val = database['HF_SPINE_POST '][i] - database['HF_SPINE_PRE'][i]
    HF_spine.append(val)

database['HF_Anyb'] = HF_anyb
database['HF_om'] = HF_om
database['HF_mm'] = HF_mm
database['HF_sh'] = HF_sh
database['HF_quit'] = HF_quit
database['HF_spine'] =HF_spine

In [15]:
selected_columns = ['HF_Anyb', 'HF_om', 'HF_mm','HF_sh', 'HF_quit', 'HF_spine']
col_dict = {'HF_Anyb':1, 'HF_om':2, 'HF_mm':3,'HF_sh':4, 'HF_quit':5, 'HF_spine':6}
# Function to find column number with maximum value in a row
def find_max_column(row):
    max_value = float('-inf')  # Initialize max value with negative infinity
    max_column = None          # Initialize max column as None

    for column in selected_columns:
        if row[column] > max_value:
            max_value = row[column]
            max_column = column

    return col_dict[max_column]

# Apply the function to each row and store the result in a new column
database['HF_best'] = database.apply(find_max_column, axis=1)

In [16]:
database.columns

Index(['ID', 'Gender', 'Age', 'Alchohol', 'Smoking', 'Non-Veg', 'Exercise',
       'Medication', 'BMI', 'HF_ANYB_PRE', 'HF_ANYB_POST ', 'HF_OM_PRE',
       'HF_OM_POST ', 'HF_SHA_PRE', 'HF_SHA_POST ', 'HF_MM_PRE', 'HF_MM_POST ',
       'HF_QUIT_PRE', 'HF_QUIT_POST ', 'HF_SPINE_PRE', 'HF_SPINE_POST ',
       'HF_Anyb', 'HF_om', 'HF_mm', 'HF_sh', 'HF_quit', 'HF_spine', 'HF_best'],
      dtype='object')

In [17]:
drop_cols = ['HF_ANYB_PRE', 'HF_ANYB_POST ', 'HF_OM_PRE',
       'HF_OM_POST ', 'HF_SHA_PRE', 'HF_SHA_POST ', 'HF_MM_PRE', 'HF_MM_POST ',
       'HF_QUIT_PRE', 'HF_QUIT_POST ', 'HF_SPINE_PRE', 'HF_SPINE_POST ',
       'HF_Anyb', 'HF_om', 'HF_mm', 'HF_sh', 'HF_quit', 'HF_spine']
database=database.drop(drop_cols,axis=1)

In [18]:
database

,ID,Gender,Age,Alchohol,Smoking,Non-Veg,Exercise,Medication,BMI,HF_best
0,S_1,Male,37,No,No,No,No,No,24.1,2
1,S_2,Male,47,No,No,No,Yes,Yes(Anxiety/B.P.),22.8,2
2,S_3,Female,47,No,No,No,No,Yes(Thyroid),28.0,2
3,S_4,Female,35,No,No,No,No,No,27.4,2
4,S_5,Female,33,No,No,No,No,No,22.6,3
5,S_6,Female,45,No,No,No,No,Yes(B.P.),24.5,5
6,S_7,Female,41,No,No,No,No,No,24.5,4
7,S_8,Female,36,No,No,No,No,No,23.2,5
8,S_9,Female,35,No,No,Yes,No,Yes(Thyroid),25.0,6
9,S_10,Male,38,Yes,No,Yes,No,No,25.8,6
10,S_11,Male,43,Yes,Yes,Yes,No,Yes,30.1,3
11,S_12,Male,39,No,No,No,Yes,Yes,25.4,1
12,S_13,Male,34,Yes,No,Yes,No,No,23.9,1
13,S_14,Female,34,No,No,No,No,No,22.1,3
14,S_15,Female,29,No,No,Yes,No,No,25.7,4
15,S_16,Male,28,No,No,Yes,Yes,No,24.0,4
16,S_17,Male,28,No,No,Yes,No,No,24.3,6
17,S_18,Male,29,No,No,Yes,Yes,No,25.0,2
18,S_19,Male,30,No,No,Yes,No,No,24.6,6
19,S_20,Male,34,No,No,Yes,Yes,No,28.4,1
20,S_21,Male,35,No,No,No,Yes,No,24.3,6
21,S_22,Male,39,No,No,Yes,No,No,24.3,3
22,S_23,Male,30,No,No,Yes,Yes,No,26.8,3
23,S_24,Male,45,No,No,Yes,No,Yes(Sugar),21.2,1
24,S_25,Male,36,No,No,No,Yes,Yes(CIDP),23.8,1
25,S_26,Male,28,No,No,Yes,No,No,22.0,5
26,S_27,Male,41,No,No,No,Yes,No,20.9,2
27,S_28,Male,34,Yes,No,Yes,Yes,No,23.2,6
28,S_29,Male,37,No,No,Yes,Yes,No,22.3,6
29,S_30,Female,29,No,No,Yes,No,No,25.4,3
30,S_31,Female,39,No,No,Yes,No,No,27.5,6
31,S_32,Female,34,No,No,Yes,No,No,18.8,5
32,S_33,Female,40,No,No,No,Yes,No,19.6,1
33,S_34,Female,29,No,No,Yes,No,No,19.0,6
34,S_35,Male,28,Yes,No,No,Yes,No,22.7,4
35,S_36,Male,28,No,No,Yes,No,No,18.9,1
36,S_37,Male,34,Yes,No,No,No,No,22.3,6
37,S_38,Female,31,Yes,No,No,No,No,22.4,5
38,S_39,Male,39,Yes,No,Yes,Yes,Yes(Gas),22.1,6
39,S_40,Male,39,No,No,Yes,No,No,28.1,6
40,S_41,Female,37,No,No,Yes,No,No,31.4,1
41,S_42,Female,43,No,No,No,Yes,No,26.5,4
42,S_43,Male,28,Yes,Yes,Yes,No,No,18.7,3
43,S_44,Male,28,No,No,Yes,No,No,24.1,3
44,S_45,Male,31,No,No,No,Yes,No,26.9,2
45,S_46,Female,28,No,No,Yes,Yes,No,26.0,6
46,S_47,Female,30,No,No,No,No,No,31.9,6
47,S_48,Male,36,Yes,No,Yes,Yes,Yes(B.P.),33.1,6
48,S_49,Female,28,No,No,Yes,Yes,Yes,22.6,6
49,S_50,Male,37,No,No,No,No,Yes,23.8,2
50,S_51,Male,28,No,No,No,Yes,No,27.9,3
51,S_52,Male,30,No,No,No,Yes,No,22.7,2
52,S_53,Male,29,No,No,No,No,No,20.9,5
53,S_54,Male,31,No,No,Yes,Yes,No,19.8,6
54,S_55,Male,30,No,No,Yes,No,No,29.0,3
55,S_56,Male,31,No,No,No,Yes,No,19.5,1
56,S_57,Male,34,No,No,Yes,Yes,No,18.9,4
57,S_58,Male,28,Yes,No,Yes,No,No,27.7,4

In [19]:
database.to_csv('final_data_HF.csv',index=False)