In [1]:
import pandas as pd

In [2]:
demo = pd.read_csv('../Dataset - Demographic.csv')
demo.head()

,Subject_Id,Name(optional),Gender,Age,Alchohol,Smoking,Non-Veg,Exercise,Medication,Weight,Height,Body Age,BMI,FAT,Muscle %,Viscular,RM
0,S_1,Sunil,Male,37,No,No,No,No,No,72.1,173.0,47.0,24.1,34.1,25.4,6.0,1446.0
1,S_2,Pradeep,Male,47,No,No,No,Yes,Yes(Anxiety/B.P.),71.1,181.3,53.0,22.8,36.2,24.9,5.0,1422.0
2,S_3,Navita,Female,47,No,No,No,No,Yes(Thyroid),69.4,155.0,55.0,28.0,29.6,27.4,15.0,1547.0
3,S_4,Sangeeta,Female,35,No,No,No,No,No,65.8,155.0,45.0,27.4,28.7,30.3,12.0,1510.0
4,S_5,Gayatri,Female,33,No,No,No,No,No,54.2,155.0,32.0,22.6,22.7,33.8,7.0,1354.0

In [3]:
cols = demo.columns
nums = [1,9,10,11,13,14,15,16]

for i in nums:
    demo.drop(cols[i],axis=1,inplace=True)

demo = demo.rename(columns={'Subject_Id': 'ID'})
demo.fillna(demo.mean(numeric_only=True).round(1), inplace=True)

In [4]:
demo.isna().sum()

ID            0
Gender        0
Age           0
Alchohol      0
Smoking       0
Non-Veg       0
Exercise      0
Medication    0
BMI           0
dtype: int64

In [5]:
rmssd = pd.read_csv('original_RMSSD.csv')
rmssd.fillna(rmssd.mean(numeric_only=True).round(1), inplace=True)

rmssd.head()

,Subject_ID,Name,PRE_ANYB,D1_ANYB,D2_ANYB,D3_ANYB,POST_ANYB,PRE_OM,D1_OM,D2_OM,...,PRE_QS,D1_QS,D2_QS,D3_QS,POST_QS,PRE_SR,D1_SR,D2_SR,D3_SR,POST_SR
0,S_1,Sunil,60.0462,54.6259,42.2501,40.0982,64.8991,50.5507,50.8991,44.9652,...,94.2591,75.5024,56.1115,64.0096,87.5777,73.3841,221.7559,210.2880,195.0723,69.3118
1,S_2,Pradeep,19.7781,59.0812,61.7040,92.1834,24.0758,25.1801,30.0246,27.3237,...,25.0951,23.1493,25.5528,27.5106,19.3068,15.8554,76.3789,26.0026,24.9138,16.4466
2,S_3,Navita,174.6837,622.1293,416.7323,35.7618,142.7212,20.7060,206.1261,534.3505,...,29.0412,22.8483,19.1270,23.5095,59.2744,129.5664,547.5125,389.5549,246.0078,46.9553
3,S_4,Sangeeta,63.8494,138.1902,173.0879,118.8159,66.2830,150.5074,34.9095,61.9089,...,67.8428,22.7800,33.3439,173.7061,46.5462,219.7204,88.7134,99.4456,109.0780,36.2168
4,S_5,Gayatri,80.9245,84.8734,380.1293,94.4441,30.4343,44.5987,40.7868,63.4410,...,107.7346,88.9840,106.6487,111.8601,77.2896,113.5991,162.3281,200.2248,193.3346,92.5756

In [6]:
cols = rmssd.columns
nums = [1,3,4,5,8,9,10,13,14,15,18,19,20,23,24,25,28,29,30]

for i in nums:
    rmssd.drop(cols[i],axis=1,inplace=True)

rmssd = rmssd.add_prefix('rmssd_')
rmssd = rmssd.rename(columns={'rmssd_Subject_ID': 'ID'})

In [7]:
rmssd.head()

,ID,rmssd_PRE_ANYB,rmssd_POST_ANYB,rmssd_PRE_OM,rmssd_POST_OM,rmssd_PRE_SH,rmssd_POST_SH,rmssd_PRE_MM,rmssd_POST_MM,rmssd_PRE_QS,rmssd_POST_QS,rmssd_PRE_SR,rmssd_POST_SR
0,S_1,60.0462,64.8991,50.5507,60.8147,47.9349,44.0132,62.5628,72.5710,94.2591,87.5777,73.3841,69.3118
1,S_2,19.7781,24.0758,25.1801,70.3106,17.8055,17.7111,31.1040,20.5836,25.0951,19.3068,15.8554,16.4466
2,S_3,174.6837,142.7212,20.7060,138.8031,164.4041,115.3158,785.0104,351.1427,29.0412,59.2744,129.5664,46.9553
3,S_4,63.8494,66.2830,150.5074,326.2794,149.3032,178.2109,47.3473,38.1560,67.8428,46.5462,219.7204,36.2168
4,S_5,80.9245,30.4343,44.5987,30.9502,111.9654,51.2767,77.2588,101.7975,107.7346,77.2896,113.5991,92.5756

In [8]:
database = pd.merge(demo,rmssd, on="ID", how='inner')

In [9]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
database.head()

,ID,Gender,Age,Alchohol,Smoking,Non-Veg,Exercise,Medication,BMI,rmssd_PRE_ANYB,...,rmssd_PRE_OM,rmssd_POST_OM,rmssd_PRE_SH,rmssd_POST_SH,rmssd_PRE_MM,rmssd_POST_MM,rmssd_PRE_QS,rmssd_POST_QS,rmssd_PRE_SR,rmssd_POST_SR
0,S_1,Male,37,No,No,No,No,No,24.1,60.0462,...,50.5507,60.8147,47.9349,44.0132,62.5628,72.5710,94.2591,87.5777,73.3841,69.3118
1,S_2,Male,47,No,No,No,Yes,Yes(Anxiety/B.P.),22.8,19.7781,...,25.1801,70.3106,17.8055,17.7111,31.1040,20.5836,25.0951,19.3068,15.8554,16.4466
2,S_3,Female,47,No,No,No,No,Yes(Thyroid),28.0,174.6837,...,20.7060,138.8031,164.4041,115.3158,785.0104,351.1427,29.0412,59.2744,129.5664,46.9553
3,S_4,Female,35,No,No,No,No,No,27.4,63.8494,...,150.5074,326.2794,149.3032,178.2109,47.3473,38.1560,67.8428,46.5462,219.7204,36.2168
4,S_5,Female,33,No,No,No,No,No,22.6,80.9245,...,44.5987,30.9502,111.9654,51.2767,77.2588,101.7975,107.7346,77.2896,113.5991,92.5756

#Making Calculation for best Exercise

In [10]:
database.columns

Index(['ID', 'Gender', 'Age', 'Alchohol', 'Smoking', 'Non-Veg', 'Exercise',
       'Medication', 'BMI', 'rmssd_PRE_ANYB', 'rmssd_POST_ANYB',
       'rmssd_PRE_OM', 'rmssd_POST_OM', 'rmssd_PRE_SH', 'rmssd_POST_SH',
       'rmssd_PRE_MM', 'rmssd_POST_MM', 'rmssd_PRE_QS', 'rmssd_POST_QS',
       'rmssd_PRE_SR', 'rmssd_POST_SR'],
      dtype='object')

In [11]:
rmssd_anyb=[]
rmssd_om = []
rmssd_mm = []
rmssd_quit = []
rmssd_spine = []
rmssd_sh = []

# cols = ['ID', 'Gender', 'Age', 'Alchohol', 'Smoking', 'Non-Veg', 'Exercise',
#        'Medication', 'BMI', 'rmssd_PRE_ANYB', 'rmssd_POST_ANYB', 'rmssd_PRE_OM',
#        'rmssd_POST_OM', 'rmssd_PRE_SH', 'rmssd_POST_SH', 'rmssd_PRE_MM',
#        'rmssd_POST_MM', 'rmssd_PRE_QS', 'rmssd_POST_QS', 'rmssd_PRE_SR',
#        'rmssd_POST_SR']
       
for i in range(len(database['ID'])):

    val = database['rmssd_POST_ANYB'][i] - database['rmssd_PRE_ANYB'][i]
    rmssd_anyb.append(val)

for i in range(len(database['ID'])):

    val = database['rmssd_POST_OM'][i] - database['rmssd_PRE_OM'][i]
    rmssd_om.append(val)

for i in range(len(database['ID'])):

    val = database['rmssd_POST_SH'][i] - database['rmssd_PRE_SH'][i]
    rmssd_sh.append(val)

for i in range(len(database['ID'])):

    val = database['rmssd_POST_MM'][i] - database['rmssd_PRE_MM'][i]
    rmssd_mm.append(val)

for i in range(len(database['ID'])):

    val = database['rmssd_POST_QS'][i] - database['rmssd_PRE_QS'][i]
    rmssd_quit.append(val)

for i in range(len(database['ID'])):

    val = database['rmssd_POST_SR'][i] - database['rmssd_PRE_SR'][i]
    rmssd_spine.append(val)

database['rmssd_Anyb'] = rmssd_anyb
database['rmssd_om'] = rmssd_om
database['rmssd_mm'] = rmssd_mm
database['rmssd_sh'] = rmssd_sh
database['rmssd_quit'] = rmssd_quit
database['rmssd_spine'] =rmssd_spine

In [12]:
selected_columns = ['rmssd_Anyb', 'rmssd_om', 'rmssd_mm','rmssd_sh', 'rmssd_quit', 'rmssd_spine']
col_dict = {'rmssd_Anyb':1, 'rmssd_om':2, 'rmssd_mm':3,'rmssd_sh':4, 'rmssd_quit':5, 'rmssd_spine':6}
# Function to find column number with maximum value in a row
def find_max_column(row):
    max_value = float('-inf')  # Initialize max value with negative infinity
    max_column = None          # Initialize max column as None

    for column in selected_columns:
        if row[column] > max_value:
            max_value = row[column]
            max_column = column

    return col_dict[max_column]

# Apply the function to each row and store the result in a new column
database['rmssd_best'] = database.apply(find_max_column, axis=1)

In [13]:
database.columns

Index(['ID', 'Gender', 'Age', 'Alchohol', 'Smoking', 'Non-Veg', 'Exercise',
       'Medication', 'BMI', 'rmssd_PRE_ANYB', 'rmssd_POST_ANYB',
       'rmssd_PRE_OM', 'rmssd_POST_OM', 'rmssd_PRE_SH', 'rmssd_POST_SH',
       'rmssd_PRE_MM', 'rmssd_POST_MM', 'rmssd_PRE_QS', 'rmssd_POST_QS',
       'rmssd_PRE_SR', 'rmssd_POST_SR', 'rmssd_Anyb', 'rmssd_om', 'rmssd_mm',
       'rmssd_sh', 'rmssd_quit', 'rmssd_spine', 'rmssd_best'],
      dtype='object')

In [14]:
drop_cols = ['rmssd_PRE_ANYB', 'rmssd_POST_ANYB',
       'rmssd_PRE_OM', 'rmssd_POST_OM', 'rmssd_PRE_SH', 'rmssd_POST_SH',
       'rmssd_PRE_MM', 'rmssd_POST_MM', 'rmssd_PRE_QS', 'rmssd_POST_QS',
       'rmssd_PRE_SR', 'rmssd_POST_SR', 'rmssd_Anyb', 'rmssd_om', 'rmssd_mm',
       'rmssd_sh', 'rmssd_quit', 'rmssd_spine']
database=database.drop(drop_cols,axis=1)

In [15]:
database

,ID,Gender,Age,Alchohol,Smoking,Non-Veg,Exercise,Medication,BMI,rmssd_best
0,S_1,Male,37,No,No,No,No,No,24.1,2
1,S_2,Male,47,No,No,No,Yes,Yes(Anxiety/B.P.),22.8,2
2,S_3,Female,47,No,No,No,No,Yes(Thyroid),28.0,2
3,S_4,Female,35,No,No,No,No,No,27.4,2
4,S_5,Female,33,No,No,No,No,No,22.6,3
5,S_6,Female,45,No,No,No,No,Yes(B.P.),24.5,5
6,S_7,Female,41,No,No,No,No,No,24.5,4
7,S_8,Female,36,No,No,No,No,No,23.2,5
8,S_9,Female,35,No,No,Yes,No,Yes(Thyroid),25.0,1
9,S_10,Male,38,Yes,No,Yes,No,No,25.8,6
10,S_11,Male,43,Yes,Yes,Yes,No,Yes,30.1,3
11,S_12,Male,39,No,No,No,Yes,Yes,25.4,1
12,S_13,Male,34,Yes,No,Yes,No,No,23.9,3
13,S_14,Female,34,No,No,No,No,No,22.1,4
14,S_15,Female,29,No,No,Yes,No,No,25.7,1
15,S_16,Male,28,No,No,Yes,Yes,No,24.0,4
16,S_17,Male,28,No,No,Yes,No,No,24.3,6
17,S_18,Male,29,No,No,Yes,Yes,No,25.0,2
18,S_19,Male,30,No,No,Yes,No,No,24.6,6
19,S_20,Male,34,No,No,Yes,Yes,No,28.4,1
20,S_21,Male,35,No,No,No,Yes,No,24.3,6
21,S_22,Male,39,No,No,Yes,No,No,24.3,3
22,S_23,Male,30,No,No,Yes,Yes,No,26.8,3
23,S_24,Male,45,No,No,Yes,No,Yes(Sugar),21.2,1
24,S_25,Male,36,No,No,No,Yes,Yes(CIDP),23.8,5
25,S_26,Male,28,No,No,Yes,No,No,22.0,5
26,S_27,Male,41,No,No,No,Yes,No,20.9,1
27,S_28,Male,34,Yes,No,Yes,Yes,No,23.2,6
28,S_29,Male,37,No,No,Yes,Yes,No,22.3,4
29,S_30,Female,29,No,No,Yes,No,No,25.4,3
30,S_31,Female,39,No,No,Yes,No,No,27.5,5
31,S_32,Female,34,No,No,Yes,No,No,18.8,4
32,S_33,Female,40,No,No,No,Yes,No,19.6,1
33,S_34,Female,29,No,No,Yes,No,No,19.0,6
34,S_35,Male,28,Yes,No,No,Yes,No,22.7,4
35,S_36,Male,28,No,No,Yes,No,No,18.9,4
36,S_37,Male,34,Yes,No,No,No,No,22.3,6
37,S_38,Female,31,Yes,No,No,No,No,22.4,5
38,S_39,Male,39,Yes,No,Yes,Yes,Yes(Gas),22.1,6
39,S_40,Male,39,No,No,Yes,No,No,28.1,6
40,S_41,Female,37,No,No,Yes,No,No,31.4,5
41,S_42,Female,43,No,No,No,Yes,No,26.5,4
42,S_43,Male,28,Yes,Yes,Yes,No,No,18.7,3
43,S_44,Male,28,No,No,Yes,No,No,24.1,3
44,S_45,Male,31,No,No,No,Yes,No,26.9,2
45,S_46,Female,28,No,No,Yes,Yes,No,26.0,3
46,S_47,Female,30,No,No,No,No,No,31.9,2
47,S_48,Male,36,Yes,No,Yes,Yes,Yes(B.P.),33.1,6
48,S_49,Female,28,No,No,Yes,Yes,Yes,22.6,6
49,S_50,Male,37,No,No,No,No,Yes,23.8,3
50,S_51,Male,28,No,No,No,Yes,No,27.9,3
51,S_52,Male,30,No,No,No,Yes,No,22.7,2
52,S_53,Male,29,No,No,No,No,No,20.9,5
53,S_54,Male,31,No,No,Yes,Yes,No,19.8,6
54,S_55,Male,30,No,No,Yes,No,No,29.0,6
55,S_56,Male,31,No,No,No,Yes,No,19.5,1
56,S_57,Male,34,No,No,Yes,Yes,No,18.9,6
57,S_58,Male,28,Yes,No,Yes,No,No,27.7,4

In [16]:
database.to_csv('final_data_RMSSD.csv',index=False)