In [1]:
import pandas as pd

In [3]:
demo = pd.read_csv('../Dataset - Demographic.csv')
demo.head()

,Subject_Id,Name(optional),Gender,Age,Alchohol,Smoking,Non-Veg,Exercise,Medication,Weight,Height,Body Age,BMI,FAT,Muscle %,Viscular,RM
0,S_1,Sunil,Male,37,No,No,No,No,No,72.1,173.0,47.0,24.1,34.1,25.4,6.0,1446.0
1,S_2,Pradeep,Male,47,No,No,No,Yes,Yes(Anxiety/B.P.),71.1,181.3,53.0,22.8,36.2,24.9,5.0,1422.0
2,S_3,Navita,Female,47,No,No,No,No,Yes(Thyroid),69.4,155.0,55.0,28.0,29.6,27.4,15.0,1547.0
3,S_4,Sangeeta,Female,35,No,No,No,No,No,65.8,155.0,45.0,27.4,28.7,30.3,12.0,1510.0
4,S_5,Gayatri,Female,33,No,No,No,No,No,54.2,155.0,32.0,22.6,22.7,33.8,7.0,1354.0

In [4]:
cols = demo.columns
nums = [1,9,10,11,13,14,15,16]

for i in nums:
    demo.drop(cols[i],axis=1,inplace=True)

demo = demo.rename(columns={'Subject_Id': 'ID'})
demo.fillna(demo.mean(numeric_only=True).round(1), inplace=True)

In [5]:
demo.isna().sum()

ID            0
Gender        0
Age           0
Alchohol      0
Smoking       0
Non-Veg       0
Exercise      0
Medication    0
BMI           0
dtype: int64

In [6]:
bp = pd.read_csv('./original_BP_Systolic.csv')
bp.fillna(bp.mean(numeric_only=True).round(1), inplace=True)

bp.head()

,Subject_ID,Name,ANYB_PRE-1,ANYB_PRE-2,ANYB_PRE-3,ANYB_AVG,ANYB_POST-1,ANYB_POST-2,ANYB_POST-3,ANYB_AVG.1,...,QUIT_POST-3,QUIT_AVG.1,SPINE_PRE-1,SPINE_PRE-2,SPINE_PRE-3,SPINE_AVG,SPINE_POST-1,SPINE_POST-2,SPINE_POST-3,SPINE_AVG.1
0,S_1,Sunil,149,152,151,151,150,145,140,145,...,145,152,140,138,130,136,154,156,157,156
1,S_2,Pradeep,117,118,116,117,136,126,131,131,...,124,124,109,112,106,109,124,122,125,124
2,S_3,Navita,94,92,92,93,83,79,78,80,...,83,84,99,93,91,94,104,103,103,103
3,S_4,Sangeeta,109,110,112,110,112,110,109,110,...,110,109,121,115,114,117,68,125,119,104
4,S_5,Gayatri,109,110,112,110,112,110,109,110,...,109,111,100,103,104,102,101,101,100,101

In [7]:
cols = bp.columns
nums = [1,2,3,4,6,7,8,10,11,12,14,15,16,18,19,20,22,23,24,26,27,28,30,31,32,34,35,36,38,39,40,42,43,44,46,47,48]

for i in nums:
    bp.drop(cols[i],axis=1,inplace=True)

bp = bp.add_prefix('BP_')
bp= bp.rename(columns={'BP_Subject_ID': 'ID'})

In [8]:
bp.head()

,ID,BP_ANYB_AVG,BP_ANYB_AVG.1,BP_OM_AVG,BP_OM_AVG.1,BP_SHA_AVG,BP_SHA_AVG.1,BP_MM_AVG,BP_MM_AVG.1,BP_QUIT_AVG,BP_QUIT_AVG.1,BP_SPINE_AVG,BP_SPINE_AVG.1
0,S_1,151,145,135,138,146,145,144,157,145,152,136,156
1,S_2,117,131,106,109,113,124,112,117,115,124,109,124
2,S_3,93,80,92,94,97,91,89,98,79,84,94,103
3,S_4,110,110,108,111,99,104,117,113,109,109,117,104
4,S_5,110,110,100,105,98,104,105,107,101,111,102,101

In [10]:
database = pd.merge(demo,bp, on="ID", how='inner')

In [11]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
database.head()

,ID,Gender,Age,Alchohol,Smoking,Non-Veg,Exercise,Medication,BMI,BP_ANYB_AVG,...,BP_OM_AVG,BP_OM_AVG.1,BP_SHA_AVG,BP_SHA_AVG.1,BP_MM_AVG,BP_MM_AVG.1,BP_QUIT_AVG,BP_QUIT_AVG.1,BP_SPINE_AVG,BP_SPINE_AVG.1
0,S_1,Male,37,No,No,No,No,No,24.1,151,...,135,138,146,145,144,157,145,152,136,156
1,S_2,Male,47,No,No,No,Yes,Yes(Anxiety/B.P.),22.8,117,...,106,109,113,124,112,117,115,124,109,124
2,S_3,Female,47,No,No,No,No,Yes(Thyroid),28.0,93,...,92,94,97,91,89,98,79,84,94,103
3,S_4,Female,35,No,No,No,No,No,27.4,110,...,108,111,99,104,117,113,109,109,117,104
4,S_5,Female,33,No,No,No,No,No,22.6,110,...,100,105,98,104,105,107,101,111,102,101

#Making Calculation for best Exercise

In [12]:
database.columns

Index(['ID', 'Gender', 'Age', 'Alchohol', 'Smoking', 'Non-Veg', 'Exercise',
       'Medication', 'BMI', 'BP_ANYB_AVG', 'BP_ANYB_AVG.1', 'BP_OM_AVG',
       'BP_OM_AVG.1', 'BP_SHA_AVG', 'BP_SHA_AVG.1', 'BP_MM_AVG', 'BP_MM_AVG.1',
       'BP_QUIT_AVG', 'BP_QUIT_AVG.1', 'BP_SPINE_AVG', 'BP_SPINE_AVG.1'],
      dtype='object')

In [13]:
bp_anyb=[]
bp_om = []
bp_mm = []
bp_quit = []
bp_spine = []
bp_sh = []
for i in range(len(database['ID'])):

    val_bp_pre = database['BP_ANYB_AVG'][i]
    val_bp_post = database['BP_ANYB_AVG.1'][i]

    if(val_bp_post >=120 and val_bp_pre>=120):
        val = val_bp_pre - val_bp_post
    elif(val_bp_post <120 and val_bp_pre<=120):
        val = val_bp_post - val_bp_pre
    else:
        val = 240 - val_bp_post - val_bp_pre
        if(val_bp_pre>120 and val_bp_post<120):
            val = val * -1
    
    bp_anyb.append(val)


for i in range(len(database['ID'])):

    val_bp_pre = database['BP_MM_AVG'][i]
    val_bp_post = database['BP_MM_AVG.1'][i]

    if(val_bp_post >=120 and val_bp_pre>=120):
        val = val_bp_pre - val_bp_post
    elif(val_bp_post <120 and val_bp_pre<=120):
        val = val_bp_post - val_bp_pre
    else:
        val = 240 - val_bp_post - val_bp_pre
        if(val_bp_pre>120 and val_bp_post<120):
            val = val * -1
    
    bp_mm.append(val)


for i in range(len(database['ID'])):

    val_bp_pre = database['BP_OM_AVG'][i]
    val_bp_post = database['BP_OM_AVG.1'][i]

    if(val_bp_post >=120 and val_bp_pre>=120):
        val = val_bp_pre - val_bp_post
    elif(val_bp_post <120 and val_bp_pre<=120):
        val = val_bp_post - val_bp_pre
    else:
        val = 240 - val_bp_post - val_bp_pre
        if(val_bp_pre>120 and val_bp_post<120):
            val = val * -1
    
    bp_om.append(val)


for i in range(len(database['ID'])):

    val_bp_pre = database['BP_QUIT_AVG'][i]
    val_bp_post = database['BP_QUIT_AVG.1'][i]

    if(val_bp_post >=120 and val_bp_pre>=120):
        val = val_bp_pre - val_bp_post
    elif(val_bp_post <120 and val_bp_pre<=120):
        val = val_bp_post - val_bp_pre
    else:
        val = 240 - val_bp_post - val_bp_pre
        if(val_bp_pre>120 and val_bp_post<120):
            val = val * -1
    
    bp_quit.append(val)


for i in range(len(database['ID'])):

    val_bp_pre = database['BP_SHA_AVG'][i]
    val_bp_post = database['BP_SHA_AVG.1'][i]

    if(val_bp_post >=120 and val_bp_pre>=120):
        val = val_bp_pre - val_bp_post
    elif(val_bp_post <120 and val_bp_pre<=120):
        val = val_bp_post - val_bp_pre
    else:
        val = 240 - val_bp_post - val_bp_pre
        if(val_bp_pre>120 and val_bp_post<120):
            val = val * -1
    
    bp_sh.append(val)


for i in range(len(database['ID'])):

    val_bp_pre = database['BP_SPINE_AVG'][i]
    val_bp_post = database['BP_SPINE_AVG.1'][i]

    if(val_bp_post >=120 and val_bp_pre>=120):
        val = val_bp_pre - val_bp_post
    elif(val_bp_post <120 and val_bp_pre<=120):
        val = val_bp_post - val_bp_pre
    else:
        val = 240 - val_bp_post - val_bp_pre
        if(val_bp_pre>120 and val_bp_post<120):
            val = val * -1
    
    bp_spine.append(val)

database['BP_Anyb'] = bp_anyb
database['BP_om'] = bp_om
database['BP_mm'] = bp_mm
database['BP_sh'] = bp_sh
database['BP_quit'] = bp_quit
database['BP_spine'] =bp_spine

In [15]:
selected_columns = ['BP_Anyb','BP_om', 'BP_mm', 'BP_sh', 'BP_quit', 'BP_spine']
col_dict = {'BP_Anyb':1,'BP_om':2, 'BP_mm':3, 'BP_sh':4, 'BP_quit':5, 'BP_spine':6}
# Function to find column number with maximum value in a row
def find_max_column(row):
    max_value = float('-inf')  # Initialize max value with negative infinity
    max_column = None          # Initialize max column as None

    for column in selected_columns:
        if row[column] > max_value:
            max_value = row[column]
            max_column = column

    return col_dict[max_column]

# Apply the function to each row and store the result in a new column
database['BP_best'] = database.apply(find_max_column, axis=1)

In [16]:
database.columns

Index(['ID', 'Gender', 'Age', 'Alchohol', 'Smoking', 'Non-Veg', 'Exercise',
       'Medication', 'BMI', 'BP_ANYB_AVG', 'BP_ANYB_AVG.1', 'BP_OM_AVG',
       'BP_OM_AVG.1', 'BP_SHA_AVG', 'BP_SHA_AVG.1', 'BP_MM_AVG', 'BP_MM_AVG.1',
       'BP_QUIT_AVG', 'BP_QUIT_AVG.1', 'BP_SPINE_AVG', 'BP_SPINE_AVG.1',
       'BP_Anyb', 'BP_om', 'BP_mm', 'BP_sh', 'BP_quit', 'BP_spine', 'BP_best'],
      dtype='object')

In [17]:
drop_cols = ['BP_ANYB_AVG', 'BP_ANYB_AVG.1', 'BP_OM_AVG',
       'BP_OM_AVG.1', 'BP_SHA_AVG', 'BP_SHA_AVG.1', 'BP_MM_AVG', 'BP_MM_AVG.1',
       'BP_QUIT_AVG', 'BP_QUIT_AVG.1', 'BP_SPINE_AVG', 'BP_SPINE_AVG.1',
       'BP_Anyb', 'BP_om', 'BP_mm', 'BP_sh', 'BP_quit', 'BP_spine']
database=database.drop(drop_cols,axis=1)
database.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58 entries, 0 to 57
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          58 non-null     object
 1   Gender      58 non-null     object
 2   Age         58 non-null     int64
 3   Alchohol    58 non-null     object
 4   Smoking     58 non-null     object
 5   Non-Veg     58 non-null     object
 6   Exercise    58 non-null     object
 7   Medication  58 non-null     object
 8   BMI         58 non-null     float64
 9   BP_best     58 non-null     int64
dtypes: float64(1), int64(2), object(7)
memory usage: 7.0+ KB

In [18]:
database

,ID,Gender,Age,Alchohol,Smoking,Non-Veg,Exercise,Medication,BMI,BP_best
0,S_1,Male,37,No,No,No,No,No,24.1,1
1,S_2,Male,47,No,No,No,Yes,Yes(Anxiety/B.P.),22.8,6
2,S_3,Female,47,No,No,No,No,Yes(Thyroid),28.0,3
3,S_4,Female,35,No,No,No,No,No,27.4,4
4,S_5,Female,33,No,No,No,No,No,22.6,5
5,S_6,Female,45,No,No,No,No,Yes(B.P.),24.5,4
6,S_7,Female,41,No,No,No,No,No,24.5,2
7,S_8,Female,36,No,No,No,No,No,23.2,1
8,S_9,Female,35,No,No,Yes,No,Yes(Thyroid),25.0,4
9,S_10,Male,38,Yes,No,Yes,No,No,25.8,4
10,S_11,Male,43,Yes,Yes,Yes,No,Yes,30.1,5
11,S_12,Male,39,No,No,No,Yes,Yes,25.4,6
12,S_13,Male,34,Yes,No,Yes,No,No,23.9,5
13,S_14,Female,34,No,No,No,No,No,22.1,1
14,S_15,Female,29,No,No,Yes,No,No,25.7,3
15,S_16,Male,28,No,No,Yes,Yes,No,24.0,6
16,S_17,Male,28,No,No,Yes,No,No,24.3,5
17,S_18,Male,29,No,No,Yes,Yes,No,25.0,6
18,S_19,Male,30,No,No,Yes,No,No,24.6,4
19,S_20,Male,34,No,No,Yes,Yes,No,28.4,1
20,S_21,Male,35,No,No,No,Yes,No,24.3,3
21,S_22,Male,39,No,No,Yes,No,No,24.3,4
22,S_23,Male,30,No,No,Yes,Yes,No,26.8,2
23,S_24,Male,45,No,No,Yes,No,Yes(Sugar),21.2,4
24,S_25,Male,36,No,No,No,Yes,Yes(CIDP),23.8,3
25,S_26,Male,28,No,No,Yes,No,No,22.0,2
26,S_27,Male,41,No,No,No,Yes,No,20.9,1
27,S_28,Male,34,Yes,No,Yes,Yes,No,23.2,2
28,S_29,Male,37,No,No,Yes,Yes,No,22.3,4
29,S_30,Female,29,No,No,Yes,No,No,25.4,4
30,S_31,Female,39,No,No,Yes,No,No,27.5,6
31,S_32,Female,34,No,No,Yes,No,No,18.8,4
32,S_33,Female,40,No,No,No,Yes,No,19.6,3
33,S_34,Female,29,No,No,Yes,No,No,19.0,4
34,S_35,Male,28,Yes,No,No,Yes,No,22.7,4
35,S_36,Male,28,No,No,Yes,No,No,18.9,6
36,S_37,Male,34,Yes,No,No,No,No,22.3,6
37,S_38,Female,31,Yes,No,No,No,No,22.4,6
38,S_39,Male,39,Yes,No,Yes,Yes,Yes(Gas),22.1,1
39,S_40,Male,39,No,No,Yes,No,No,28.1,1
40,S_41,Female,37,No,No,Yes,No,No,31.4,4
41,S_42,Female,43,No,No,No,Yes,No,26.5,3
42,S_43,Male,28,Yes,Yes,Yes,No,No,18.7,4
43,S_44,Male,28,No,No,Yes,No,No,24.1,3
44,S_45,Male,31,No,No,No,Yes,No,26.9,2
45,S_46,Female,28,No,No,Yes,Yes,No,26.0,4
46,S_47,Female,30,No,No,No,No,No,31.9,3
47,S_48,Male,36,Yes,No,Yes,Yes,Yes(B.P.),33.1,3
48,S_49,Female,28,No,No,Yes,Yes,Yes,22.6,2
49,S_50,Male,37,No,No,No,No,Yes,23.8,4
50,S_51,Male,28,No,No,No,Yes,No,27.9,3
51,S_52,Male,30,No,No,No,Yes,No,22.7,5
52,S_53,Male,29,No,No,No,No,No,20.9,5
53,S_54,Male,31,No,No,Yes,Yes,No,19.8,3
54,S_55,Male,30,No,No,Yes,No,No,29.0,3
55,S_56,Male,31,No,No,No,Yes,No,19.5,6
56,S_57,Male,34,No,No,Yes,Yes,No,18.9,5
57,S_58,Male,28,Yes,No,Yes,No,No,27.7,1

In [19]:
database.to_csv('final_data_BP.csv',index=False)