In [1]:
import pandas as pd

In [2]:
demo = pd.read_csv('../Dataset - Demographic.csv')
demo.head()

,Subject_Id,Name(optional),Gender,Age,Alchohol,Smoking,Non-Veg,Exercise,Medication,Weight,Height,Body Age,BMI,FAT,Muscle %,Viscular,RM
0,S_1,Sunil,Male,37,No,No,No,No,No,72.1,173.0,47.0,24.1,34.1,25.4,6.0,1446.0
1,S_2,Pradeep,Male,47,No,No,No,Yes,Yes(Anxiety/B.P.),71.1,181.3,53.0,22.8,36.2,24.9,5.0,1422.0
2,S_3,Navita,Female,47,No,No,No,No,Yes(Thyroid),69.4,155.0,55.0,28.0,29.6,27.4,15.0,1547.0
3,S_4,Sangeeta,Female,35,No,No,No,No,No,65.8,155.0,45.0,27.4,28.7,30.3,12.0,1510.0
4,S_5,Gayatri,Female,33,No,No,No,No,No,54.2,155.0,32.0,22.6,22.7,33.8,7.0,1354.0

In [4]:
cols = demo.columns
nums = [1,9,10,11,13,14,15,16]

for i in nums:
    demo.drop(cols[i],axis=1,inplace=True)

demo = demo.rename(columns={'Subject_Id': 'ID'})
demo.fillna(demo.mean(numeric_only=True).round(1), inplace=True)

In [5]:
demo.isna().sum()

ID            0
Gender        0
Age           0
Alchohol      0
Smoking       0
Non-Veg       0
Exercise      0
Medication    0
BMI           0
dtype: int64

In [6]:
sdnn = pd.read_csv('original_SDNN.csv')
sdnn.fillna(sdnn.mean(numeric_only=True).round(1), inplace=True)

sdnn.head()

,Subject_ID,Name,PRE_ANYB,D1_ANYB,D2_ANYB,D3_ANYB,POST_ANYB,PRE_OM,D1_OM,D2_OM,...,PRE_QS,D1_QS,D2_QS,D3_QS,POST_QS,PRE_SR,D1_SR,D2_SR,D3_SR,POST_SR
0,S_1,Sunil,50.5498,101.8652,89.2795,81.7510,49.0623,40.4318,63.8708,57.5376,...,63.3194,61.5422,51.3797,64.2677,56.4993,55.0228,137.1469,141.7048,133.2316,53.2916
1,S_2,Pradeep,20.0751,43.3559,46.4488,71.7267,18.8415,21.6892,51.9995,48.4623,...,23.9910,26.7889,29.9184,28.2615,19.4582,21.3104,60.1593,32.0532,28.7499,20.1612
2,S_3,Navita,118.2096,470.3725,296.9063,44.2856,100.9986,21.9165,142.5076,366.1048,...,31.9225,21.3750,19.7029,23.7672,47.9211,87.9064,381.3237,245.8342,174.7554,48.8198
3,S_4,Sangeeta,48.0639,132.5738,150.9116,117.1272,55.0516,107.1397,55.4966,67.0865,...,51.5085,24.7024,32.2869,125.1719,43.1649,146.3736,68.6687,79.0997,93.0423,31.8362
4,S_5,Gayatri,56.5717,96.5191,265.9111,81.7976,24.6347,42.2892,40.2220,58.3748,...,81.3801,71.8403,72.2488,86.5149,54.3607,80.9072,111.3962,135.2047,135.1446,71.2941

In [7]:
cols = sdnn.columns
nums = [1,3,4,5,8,9,10,13,14,15,18,19,20,23,24,25,28,29,30]

for i in nums:
    sdnn.drop(cols[i],axis=1,inplace=True)

sdnn = sdnn.add_prefix('SDNN_')
sdnn = sdnn.rename(columns={'SDNN_Subject_ID': 'ID'})

In [8]:
sdnn.head()

,ID,SDNN_PRE_ANYB,SDNN_POST_ANYB,SDNN_PRE_OM,SDNN_POST_OM,SDNN_PRE_SH,SDNN_POST_SH,SDNN_PRE_MM,SDNN_POST_MM,SDNN_PRE_QS,SDNN_POST_QS,SDNN_PRE_SR,SDNN_POST_SR
0,S_1,50.5498,49.0623,40.4318,44.2183,46.8528,36.9875,52.0481,55.1184,63.3194,56.4993,55.0228,53.2916
1,S_2,20.0751,18.8415,21.6892,49.9204,23.2395,17.5896,29.8242,19.3812,23.9910,19.4582,21.3104,20.1612
2,S_3,118.2096,100.9986,21.9165,98.3870,119.9871,87.3448,501.8239,243.7566,31.9225,47.9211,87.9064,48.8198
3,S_4,48.0639,55.0516,107.1397,215.3970,105.2730,120.6718,38.7994,35.9386,51.5085,43.1649,146.3736,31.8362
4,S_5,56.5717,24.6347,42.2892,24.2575,89.6838,39.5755,66.0513,73.0423,81.3801,54.3607,80.9072,71.2941

In [9]:
database = pd.merge(demo,sdnn, on="ID", how='inner')

In [10]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
database.head()

,ID,Gender,Age,Alchohol,Smoking,Non-Veg,Exercise,Medication,BMI,SDNN_PRE_ANYB,...,SDNN_PRE_OM,SDNN_POST_OM,SDNN_PRE_SH,SDNN_POST_SH,SDNN_PRE_MM,SDNN_POST_MM,SDNN_PRE_QS,SDNN_POST_QS,SDNN_PRE_SR,SDNN_POST_SR
0,S_1,Male,37,No,No,No,No,No,24.1,50.5498,...,40.4318,44.2183,46.8528,36.9875,52.0481,55.1184,63.3194,56.4993,55.0228,53.2916
1,S_2,Male,47,No,No,No,Yes,Yes(Anxiety/B.P.),22.8,20.0751,...,21.6892,49.9204,23.2395,17.5896,29.8242,19.3812,23.9910,19.4582,21.3104,20.1612
2,S_3,Female,47,No,No,No,No,Yes(Thyroid),28.0,118.2096,...,21.9165,98.3870,119.9871,87.3448,501.8239,243.7566,31.9225,47.9211,87.9064,48.8198
3,S_4,Female,35,No,No,No,No,No,27.4,48.0639,...,107.1397,215.3970,105.2730,120.6718,38.7994,35.9386,51.5085,43.1649,146.3736,31.8362
4,S_5,Female,33,No,No,No,No,No,22.6,56.5717,...,42.2892,24.2575,89.6838,39.5755,66.0513,73.0423,81.3801,54.3607,80.9072,71.2941

#Making Calculation for best Exercise

In [11]:
database.columns

Index(['ID', 'Gender', 'Age', 'Alchohol', 'Smoking', 'Non-Veg', 'Exercise',
       'Medication', 'BMI', 'SDNN_PRE_ANYB', 'SDNN_POST_ANYB', 'SDNN_PRE_OM',
       'SDNN_POST_OM', 'SDNN_PRE_SH', 'SDNN_POST_SH', 'SDNN_PRE_MM',
       'SDNN_POST_MM', 'SDNN_PRE_QS', 'SDNN_POST_QS', 'SDNN_PRE_SR',
       'SDNN_POST_SR'],
      dtype='object')

In [12]:
sdnn_anyb=[]
sdnn_om = []
sdnn_mm = []
sdnn_quit = []
sdnn_spine = []
sdnn_sh = []

# cols = ['ID', 'Gender', 'Age', 'Alchohol', 'Smoking', 'Non-Veg', 'Exercise',
#        'Medication', 'BMI', 'SDNN_PRE_ANYB', 'SDNN_POST_ANYB', 'SDNN_PRE_OM',
#        'SDNN_POST_OM', 'SDNN_PRE_SH', 'SDNN_POST_SH', 'SDNN_PRE_MM',
#        'SDNN_POST_MM', 'SDNN_PRE_QS', 'SDNN_POST_QS', 'SDNN_PRE_SR',
#        'SDNN_POST_SR']
       
for i in range(len(database['ID'])):

    val = database['SDNN_POST_ANYB'][i] - database['SDNN_PRE_ANYB'][i]
    sdnn_anyb.append(val)

for i in range(len(database['ID'])):

    val = database['SDNN_POST_OM'][i] - database['SDNN_PRE_OM'][i]
    sdnn_om.append(val)

for i in range(len(database['ID'])):

    val = database['SDNN_POST_SH'][i] - database['SDNN_PRE_SH'][i]
    sdnn_sh.append(val)

for i in range(len(database['ID'])):

    val = database['SDNN_POST_MM'][i] - database['SDNN_PRE_MM'][i]
    sdnn_mm.append(val)

for i in range(len(database['ID'])):

    val = database['SDNN_POST_QS'][i] - database['SDNN_PRE_QS'][i]
    sdnn_quit.append(val)

for i in range(len(database['ID'])):

    val = database['SDNN_POST_SR'][i] - database['SDNN_PRE_SR'][i]
    sdnn_spine.append(val)

database['SDNN_Anyb'] = sdnn_anyb
database['SDNN_om'] = sdnn_om
database['SDNN_mm'] = sdnn_mm
database['SDNN_sh'] = sdnn_sh
database['SDNN_quit'] = sdnn_quit
database['SDNN_spine'] =sdnn_spine

In [13]:
selected_columns = ['SDNN_Anyb', 'SDNN_om', 'SDNN_mm','SDNN_sh', 'SDNN_quit', 'SDNN_spine']
col_dict = {'SDNN_Anyb':1, 'SDNN_om':2, 'SDNN_mm':3,'SDNN_sh':4, 'SDNN_quit':5, 'SDNN_spine':6}
# Function to find column number with maximum value in a row
def find_max_column(row):
    max_value = float('-inf')  # Initialize max value with negative infinity
    max_column = None          # Initialize max column as None

    for column in selected_columns:
        if row[column] > max_value:
            max_value = row[column]
            max_column = column

    return col_dict[max_column]

# Apply the function to each row and store the result in a new column
database['SDNN_best'] = database.apply(find_max_column, axis=1)

In [14]:
database.columns

Index(['ID', 'Gender', 'Age', 'Alchohol', 'Smoking', 'Non-Veg', 'Exercise',
       'Medication', 'BMI', 'SDNN_PRE_ANYB', 'SDNN_POST_ANYB', 'SDNN_PRE_OM',
       'SDNN_POST_OM', 'SDNN_PRE_SH', 'SDNN_POST_SH', 'SDNN_PRE_MM',
       'SDNN_POST_MM', 'SDNN_PRE_QS', 'SDNN_POST_QS', 'SDNN_PRE_SR',
       'SDNN_POST_SR', 'SDNN_Anyb', 'SDNN_om', 'SDNN_mm', 'SDNN_sh',
       'SDNN_quit', 'SDNN_spine', 'SDNN_best'],
      dtype='object')

In [15]:
drop_cols = ['SDNN_PRE_ANYB', 'SDNN_POST_ANYB', 'SDNN_PRE_OM',
       'SDNN_POST_OM', 'SDNN_PRE_SH', 'SDNN_POST_SH', 'SDNN_PRE_MM',
       'SDNN_POST_MM', 'SDNN_PRE_QS', 'SDNN_POST_QS', 'SDNN_PRE_SR',
       'SDNN_POST_SR', 'SDNN_Anyb', 'SDNN_om', 'SDNN_mm', 'SDNN_sh',
       'SDNN_quit', 'SDNN_spine']
database=database.drop(drop_cols,axis=1)

In [16]:
database

,ID,Gender,Age,Alchohol,Smoking,Non-Veg,Exercise,Medication,BMI,SDNN_best
0,S_1,Male,37,No,No,No,No,No,24.1,2
1,S_2,Male,47,No,No,No,Yes,Yes(Anxiety/B.P.),22.8,2
2,S_3,Female,47,No,No,No,No,Yes(Thyroid),28.0,2
3,S_4,Female,35,No,No,No,No,No,27.4,2
4,S_5,Female,33,No,No,No,No,No,22.6,3
5,S_6,Female,45,No,No,No,No,Yes(B.P.),24.5,5
6,S_7,Female,41,No,No,No,No,No,24.5,4
7,S_8,Female,36,No,No,No,No,No,23.2,5
8,S_9,Female,35,No,No,Yes,No,Yes(Thyroid),25.0,1
9,S_10,Male,38,Yes,No,Yes,No,No,25.8,6
10,S_11,Male,43,Yes,Yes,Yes,No,Yes,30.1,3
11,S_12,Male,39,No,No,No,Yes,Yes,25.4,1
12,S_13,Male,34,Yes,No,Yes,No,No,23.9,3
13,S_14,Female,34,No,No,No,No,No,22.1,6
14,S_15,Female,29,No,No,Yes,No,No,25.7,1
15,S_16,Male,28,No,No,Yes,Yes,No,24.0,4
16,S_17,Male,28,No,No,Yes,No,No,24.3,6
17,S_18,Male,29,No,No,Yes,Yes,No,25.0,2
18,S_19,Male,30,No,No,Yes,No,No,24.6,6
19,S_20,Male,34,No,No,Yes,Yes,No,28.4,1
20,S_21,Male,35,No,No,No,Yes,No,24.3,6
21,S_22,Male,39,No,No,Yes,No,No,24.3,3
22,S_23,Male,30,No,No,Yes,Yes,No,26.8,3
23,S_24,Male,45,No,No,Yes,No,Yes(Sugar),21.2,1
24,S_25,Male,36,No,No,No,Yes,Yes(CIDP),23.8,5
25,S_26,Male,28,No,No,Yes,No,No,22.0,5
26,S_27,Male,41,No,No,No,Yes,No,20.9,1
27,S_28,Male,34,Yes,No,Yes,Yes,No,23.2,6
28,S_29,Male,37,No,No,Yes,Yes,No,22.3,3
29,S_30,Female,29,No,No,Yes,No,No,25.4,3
30,S_31,Female,39,No,No,Yes,No,No,27.5,5
31,S_32,Female,34,No,No,Yes,No,No,18.8,5
32,S_33,Female,40,No,No,No,Yes,No,19.6,1
33,S_34,Female,29,No,No,Yes,No,No,19.0,6
34,S_35,Male,28,Yes,No,No,Yes,No,22.7,4
35,S_36,Male,28,No,No,Yes,No,No,18.9,4
36,S_37,Male,34,Yes,No,No,No,No,22.3,6
37,S_38,Female,31,Yes,No,No,No,No,22.4,5
38,S_39,Male,39,Yes,No,Yes,Yes,Yes(Gas),22.1,6
39,S_40,Male,39,No,No,Yes,No,No,28.1,6
40,S_41,Female,37,No,No,Yes,No,No,31.4,2
41,S_42,Female,43,No,No,No,Yes,No,26.5,4
42,S_43,Male,28,Yes,Yes,Yes,No,No,18.7,3
43,S_44,Male,28,No,No,Yes,No,No,24.1,3
44,S_45,Male,31,No,No,No,Yes,No,26.9,2
45,S_46,Female,28,No,No,Yes,Yes,No,26.0,3
46,S_47,Female,30,No,No,No,No,No,31.9,1
47,S_48,Male,36,Yes,No,Yes,Yes,Yes(B.P.),33.1,6
48,S_49,Female,28,No,No,Yes,Yes,Yes,22.6,6
49,S_50,Male,37,No,No,No,No,Yes,23.8,4
50,S_51,Male,28,No,No,No,Yes,No,27.9,3
51,S_52,Male,30,No,No,No,Yes,No,22.7,2
52,S_53,Male,29,No,No,No,No,No,20.9,5
53,S_54,Male,31,No,No,Yes,Yes,No,19.8,6
54,S_55,Male,30,No,No,Yes,No,No,29.0,6
55,S_56,Male,31,No,No,No,Yes,No,19.5,1
56,S_57,Male,34,No,No,Yes,Yes,No,18.9,4
57,S_58,Male,28,Yes,No,Yes,No,No,27.7,4

In [18]:
database.to_csv('final_data_SDNN.csv',index=False)